body {
  padding: 50px;
  font-family: 'Rubik', sans-serif;
}

table {
  table-layout: fixed;
  width: 100%;
}

#results-display {
  padding-left: 100px;
}

.sort {
  text-decoration: underline;
  color: #0078e7;
}

.sort:hover {
  cursor: pointer;
  color:#384047;
}

.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #0078e7;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0078e7;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}

.pagination li {
  display:inline-block;
  padding:5px;
}

.pagination li.active {
    background-color: #0078e7;
    color: white;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

@media only screen and (max-width: 480px) {
  .flex-container {
    flex-direction: column;
  }
  .table-wrapper {
    width: 100%;
    border: 1px solid #e0e0e0;
  }
}
